@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800;900&family=Raleway:wght@400;600;700;800;900&family=Red+Hat+Display:wght@500;700;900&family=Road+Rage&family=Roboto:wght@400;500;900&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --dark-red  : #8E2424;
    --light-grey: #667085;
    --dark      : #101828;
}

.d-flex-jc-ac {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.d-flex-fdcolumn-ac {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.active {
    opacity: 1 !important;
}

body,
button {
    font-family: 'Roboto', sans-serif;
}

header {
    width   : 80%;
    margin  : 0 auto;
    position: relative;

    @media (max-width: 1004px) {
        width: 100%;
    }

    .container {
        margin: 18px auto 0 auto;
        width : 100%;
        height: 80px;
        .d-flex-jc-ac();

        .container--logo {
            width: fit-content;

            img {
                height: 32px;
                margin: 26.5px 40px 26.5px 0;

                @media (max-width: 1004px) {
                    margin-left: 20px;

                }
            }
        }

        .container--menu {
            width          : 80%;
            height         : 32px;
            display        : flex;
            justify-content: space-between;
            flex-direction : row;
            align-items    : center;


            .container--menu--responsive {
                opacity: 0;

                @media (max-width: 1004px) {
                    opacity        : 1;
                    position       : absolute;
                    top            : 25px;
                    right          : 80px;
                    justify-content: center;

                }
            }

            nav {

                display        : flex;
                justify-content: space-between;
                align-items    : center;
                margin-right   : auto;

                @media (max-width: 1004px) {
                    display       : block;
                    flex-direction: column;
                    position: absolute;
                    justify-content: center;
                    right: 20px;
                    opacity: 0;
                
                }
                
                ul {
                    list-style     : none;
                    display        : flex;
                    justify-content: space-around;
                    align-items    : center;

                    @media (max-width: 1004px) {
                        display       : block;
                        flex-direction: column;
                        position: absolute;
                        justify-content: center;
                        top: 10px;
                        right: 19px;
                        margin-bottom: 10px;
                    }

                    li {
                        width : fit-content;
                        margin: 0 15px;

                        a {
                            text-decoration: none;
                            color          : var(--light-grey);
                            font-size      : 16px;
                            line-height    : 24px;
                        }
                    }
                }

                .container--buttom {
                    display        : flex;
                    justify-content: end;
                    align-items    : center;
                    position       : absolute;
                    right          : 20px;


                    @media (max-width: 1004px) {
                        display       : block;
                        flex-direction: column;
                        position: absolute;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        top: 150px;
                        right: 10px;
                    }
                    

                    button.buttom--entrar {
                        width      : 47px;
                        height     : 24px;
                        border     : none;
                        color      : var(--light-grey);
                        font-size  : 16px;
                        font-weight: 400;
                        background : none;
                    }

                    button.buttom--cadastrar {
                        padding      : 10px 20px;
                        background   : var(--dark-red);
                        border       : 1px solid var(--dark-red);
                        box-sizing   : border-box;
                        box-shadow   : 0px 2px 2px rgba(16, 24, 40, 0.05);
                        border-radius: 8px;
                        color        : #fff;
                        margin-left  : 30px;
                        font-size    : 16px;
                        font-weight  : 400;
                    }
                }
            }
        }
    }
}


#about {
    font-family: 'inter', sans-serif;
    width      : 80%;
    height     : 400px;
    top        : 80px;
    margin     : 0 auto;

    .container--content--header {
        .d-flex-jc-ac();
        flex-direction: column;


        h5 {
            color      : var(--dark-red);
            font-weight: 600;
            font-size  : 16px;
            line-height: 24px;
            margin-top : 70px;
        }

        h1 {
            .d-flex-fdcolumn-ac();
            margin    : 24px 0px;
            font-size : 45px;
            color     : var(--dark);
            text-align: center
        }

        p {
            .d-flex-fdcolumn-ac();
            color         : var(--light-grey);
            font-size     : 21px;
            width         : 55%;
            padding-bottom: 96px;
            line-height   : 30px;
            text-align    : center;
        }
    }
}

#metrics {
    font-family    : 'inter', sans-serif;
    width          : 80%;
    height         : 307px;
    display        : flex;
    justify-content: space-around;
    margin         : 0 auto;

    .container--item {
        width : 280px;
        margin: 0 16px;

        h3 {
            color      : var(--dark-red);
            font-weight: 600;
            font-size  : 60px;
            line-height: 72px;

        }

        h2 {
            font-weight  : 500;
            font-size    : 18px;
            line-height  : 28px;
            margin-bottom: 8px;
            color        : var(--dark)
        }

        p {
            font-weight: 400;
            font-size  : 14px;
            line-height: 24px;
            color      : var(--light-grey);
        }
    }

    .container--item.ml--0 {
        margin-left: 0;
    }

    .container--item.mr--0 {
        margin-right: 0;
    }
}

#vacancy {
    width : 80%;
    height: 1798px;
    margin: 0 auto;

    .talents {
        .d-flex-jc-ac();
        flex-direction: column;

        h5 {
            color        : var(--dark-red);
            font-weight  : 400;
            background   : rgba(142, 36, 36, 0.1);
            border-radius: 16px;
            padding      : 4px 14px;
        }

        h2 {
            font-weight   : 500;
            font-size     : 36px;
            line-height   : 44px;
            text-align    : center;
            letter-spacing: -0.02em;
            color         : var(--dark);
            margin        : 16px 0px;
        }

        p {

            font-weight: 400;
            font-size  : 20px;
            line-height: 30px;
            text-align : center;
            color      : var(--light-grey);
        }

        img {
            width : 100%;
            margin: 64px auto 0 auto;
        }
    }

    .jobs--open {

        .container {
            margin: 96px 80px 0 80px;
            width : 80%;

            .content {
                h3 {
                    font-weight: 500;
                    font-size  : 20px;
                    line-height: 30px;
                    color      : var(--dark);
                    margin     : 32px 0px;
                    text-align : left;
                }

                .item {
                    padding      : 24px 24px 28px;
                    width        : 65%;
                    min-width    : 50%;
                    border       : 1px solid #EAECF0;
                    border-radius: 16px;
                    margin       : 24px 0px;

                    h3 {
                        font-weight: 500;
                        font-size  : 18px;
                        line-height: 28px;
                        color      : var(--dark);
                        margin     : 8px 0px;
                    }

                    .content--item {
                        display   : inline-block;
                        margin-top: 32px;

                        p {
                            font-weight: 500;
                            font-size  : 16px;
                            line-height: 24px;
                            color      : var(--light-grey);
                            margin     : 0px 8px;
                        }
                    }
                }
            }
        }
    }
}


#testemonial {
    padding: 92px 0;

    .container {
        width : 80%;
        margin: 0 auto;

        .content {
            display       : flex;
            flex-direction: column;
            align-items   : center;
            padding       : 64px;
            background    : rgba(196, 25, 25, 0.1);
            border-radius : 16px;
            margin        : 32px 0px;

            h5 {
                color      : var(--dark-red);
                font-weight: 500;
                font-size  : 14px;
                line-height: 20px;
                padding    : 4px 14px;
                margin     : 16px 0;
            }

            h2 {
                font-weight   : 500;
                font-size     : 30px;
                line-height   : 44px;
                text-align    : center;
                letter-spacing: -0.02em;
                color         : var(--dark);
            }

            .content--atribution {
                .d-flex-jc-ac();
                flex-direction: column;
                margin-top    : 32px;

                img {
                    margin-bottom: 16px;
                }

                h3 {
                    font-size    : 16px;
                    line-height  : 24px;
                    font-weight  : 500;
                    margin-bottom: 4px;
                }

                p {
                    font-weight: 400;
                    font-size  : 16px;
                    line-height: 24px;
                    color      : var(--light-grey);
                    margin     : 0px 8px;
                }
            }
        }
    }
}

footer {
    background: #e5e5e5;
    width     : 100%;

    .container {
        width : 80%;
        margin: 0 auto;
        .d-flex-fdcolumn-ac();

        .content {

            h2 {
                font-weight   : 500;
                font-size     : 36px;
                line-height   : 44px;
                text-align    : center;
                letter-spacing: -0.02em;
                color         : var(--dark);
                padding       : 20px 0;
                margin-top    : 96px;
            }

            p {
                font-weight: 400;
                font-size  : 16px;
                line-height: 24px;
                color      : var(--light-grey);
                margin     : 0px 8px;
                text-align : center;
            }

            form {
                .d-flex-jc-ac();
                margin: 40px 0;

                input {
                    border       : 1px solid #98A2B3;
                    border-radius: 6px;
                    width        : 360px;
                    height       : 48px;

                }

                ::placeholder {
                    font-weight: 400;
                    font-size  : 16px;
                    color      : #667085;
                    padding    : 16px;
                }

                button {
                    padding      : 5px 20px;
                    background   : var(--dark-red);
                    border       : 1px solid var(--dark-red);
                    box-sizing   : border-box;
                    box-shadow   : 0px 2px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    color        : #fff;
                    margin-left  : 16px;
                    height       : 48px;
                }
            }
        }

        span {
            bottom     : 22.33%;
            font-weight: 400;
            font-size  : 16px;
            line-height: 24px;
            display    : flex;
            align-items: center;
            color      : #98A2B3;
            margin     : 32px 0px;
        }


    }
}